# Case Study Data Preparation

The data used for the case study on Cyclistic is sourced from https://divvy-tripdata.s3.amazonaws.com/index.html. The dataset contains historical data on bike rides. In which, contains the columns:
* **ride_id:** A unique identifier for each bike ride.
* **rideable_type:** The type of bike for which what the user used for the bike ride.
* **started_at:** The timestamp indicating the start time of the ride.
* **ended_at:** The timestamp indicating the end time of the ride.
* **start_station_name:** The name or location description of the docking station where the ride started.
* **start_station_id:** The unique identifier of the docking station where the ride started.
* **end_station_name:** The name or location description of the docking station where the ride ended.
* **end_station_id:** The unique identifier of the docking station where the ride ended.
* **start_lat:** The latitude coordinate of the docking station where the ride started.
* **start_lng:** The longitude coordinate of the docking station where the ride started.
* **end_lat:** The latitude coordinate of the docking station where the ride ended.
* **end_lng:** The longitude coordinate of the docking station where the ride ended.
* **member_casual:** The type of user, indicating whether the customer is a casual pass user or an annual member.

With the a data composing of only **77% of it complete and 23% incomplete**, cleaning, preparing, and especially addressing those missing values would be crucial in order to have a sound analysis. 

![](reports/data-preparation/dataset-composition-complete-vs-observations-with-incomplete-data.png)
![](reports/data-preparation/observations-with-incomplete-data-missing-data-count-by-variable.png)

## Initialization

In [77]:
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

### Loading the merged dataset: Trip data from year June-December of 2022  and January-May of 2023

In [78]:
df = pd.read_csv("data/csv/divvy-tripdata-202206-202305-merged.csv")

In [79]:
df.dropna().head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
98,B12AD6565494C368,classic_bike,2022-06-09 22:28:32,2022-06-09 22:52:17,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922695,-87.697153,41.922695,-87.697153,casual
137,BAD4CB075003A605,electric_bike,2022-06-19 17:08:23,2022-06-19 17:08:25,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922613,-87.697148,41.922695,-87.697153,casual
214,76DAD9FC95774B53,electric_bike,2022-06-26 23:59:44,2022-06-27 00:25:26,Burnham Greenway & 105th St,20222,Burnham Greenway & 105th St,20222,41.704628,-87.528414,41.704575,-87.528232,casual
216,47DE68ACCA138C13,electric_bike,2022-06-27 11:40:53,2022-06-27 11:50:16,Wood St & Chicago Ave,637,California Ave & Division St,13256,41.895611,-87.672098,41.903029,-87.697474,casual
233,5D899636D3334ED5,classic_bike,2022-06-27 16:01:13,2022-06-27 16:35:56,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual

In [80]:
df.info(verbose=True ,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5829030 entries, 0 to 5829029
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             5829030 non-null  object
 1   rideable_type       5829030 non-null  object
 2   started_at          5829030 non-null  object
 3   ended_at            5829030 non-null  object
 4   start_station_name  4994485 non-null  object
 5   start_station_id    4994353 non-null  object
 6   end_station_name    4937273 non-null  object
 7   end_station_id      4937132 non-null  object
 8   start_lat           5829030 non-null  float64
 9   start_lng           5829030 non-null  float64
 10  end_lat             5823069 non-null  float64
 11  end_lng             5823069 non-null  float64
 12  member_casual       5829030 non-null  object
dtypes: float64(4), object(9)
memory usage: 578.1+ MB

## Cleaning value formats

Checking rideable_type value counts

In [81]:
df['rideable_type'].value_counts()

electric_bike    3083395
classic_bike     2588434
docked_bike       157201
Name: rideable_type, dtype: int64

With start_station_id and possibly end_station_id showing some values that behaves like a decimal as seen with the trailling ".0", which is unproper for the rest of the format and a format for an 'id' specifically, this must be cleaned and removed.

In [82]:
df.dropna().loc[:, ['start_station_name', 'start_station_id']].drop_duplicates()

                                 start_station_name start_station_id
98                   California Ave & Milwaukee Ave            13084
214                     Burnham Greenway & 105th St            20222
216                           Wood St & Chicago Ave              637
233                    California Ave & Division St            13256
408                            Morgan Ave & 14th Pl     TA1306000002
...                                             ...              ...
5780082                 Public Rack - Horner & 85th           1273.0
5795964              Public Rack - Central & Leland           1192.0
5800505  Public Rack - N. Oakview and W. Gregory St           1180.0
5808498                Public Rack - Pulaski & 84th           1260.0
5818696                   Public Rack - Archer Park              828

[1759 rows x 2 columns]

In [83]:
df.dropna().loc[:, ['end_station_name', 'end_station_id']].drop_duplicates()

                                end_station_name end_station_id
98                California Ave & Milwaukee Ave          13084
214                  Burnham Greenway & 105th St          20222
216                 California Ave & Division St          13256
408                         Morgan Ave & 14th Pl   TA1306000002
756                        Wood St & Chicago Ave            637
...                                          ...            ...
5809585        Public Rack - Morgan St & 87th St            640
5811892          Public Rack - Avers & Granville         1215.0
5812214  Public Rack - Karlov Ave & Lawrence Ave         1127.0
5813001            Public Rack - Mango & Higgins         1202.0
5827558      Public Rack - Kostner Ave & 16th St            934

[1791 rows x 2 columns]

Cleaning the ids of the trailling ".0"

In [84]:
# Testing the code before doing an inplace operation
df['start_station_id'].str.replace(".0", "", regex = False)[5780082]

'1273'

In [85]:
# Cleaning of the trailling ".0s"
df['start_station_id'] = df['start_station_id'].str.replace(".0", "", regex = False)
df['end_station_id'] = df['end_station_id'].str.replace(".0", "", regex = False)

df.dropna().loc[:, ['start_station_name', 'start_station_id']].drop_duplicates()

                                 start_station_name start_station_id
98                   California Ave & Milwaukee Ave            13084
214                     Burnham Greenway & 105th St            20222
216                           Wood St & Chicago Ave              637
233                    California Ave & Division St            13256
408                            Morgan Ave & 14th Pl     TA1306000002
...                                             ...              ...
5780082                 Public Rack - Horner & 85th             1273
5795964              Public Rack - Central & Leland             1192
5800505  Public Rack - N. Oakview and W. Gregory St             1180
5808498                Public Rack - Pulaski & 84th             1260
5818696                   Public Rack - Archer Park              828

[1759 rows x 2 columns]

## Solving inconsistencies

Having the station ids cleaned of the trailling ".0"s, station names should be checked. In which, one station id must correspond to only one station name. Therefore, in the dataset where missing values along with duplicates are dropped, every value counts of station id should be equal to 1.

In [86]:
(df
 .dropna()
 .loc[:, ['start_station_name', 'start_station_id']]
 .drop_duplicates()['start_station_id']
 .value_counts())

535             3
588             3
661             3
569             3
577             3
               ..
KA1504000151    1
TA1307000131    1
TA1309000015    1
021320          1
1260            1
Name: start_station_id, Length: 1419, dtype: int64

With the station names being inconsistent and having variations, this needs to be addressed.

In [87]:
(df[df['start_station_id'].isin(['535', '588', '661'])]
 .dropna()
 .loc[:, ['start_station_name', 'start_station_id']]
 .drop_duplicates()
 .sort_values(by = 'start_station_id'))

                          start_station_name start_station_id
5473              Pulaski Rd & Congress Pkwy              535
662127                        Zapata Academy              535
925183          Public Rack - Zapata Academy              535
262684           South Chicago Ave & 83rd St              588
1886534                  Yale Ave & 119th St              588
4996242    Public Rack - Yale Ave & 119th St              588
86684                  Evanston Civic Center              661
278193                 Langley Ave & 79th St              661
3071593  Public Rack - Langley Ave & 79th St              661

With inconsistencies on the start_station_name and possibly end_station_name, it would be best to update the values using the [bicycle stations open data from Chicago Data Portal](https://data.cityofchicago.org/Transportation/Divvy-Bicycle-Stations/bbyy-e7gq/data) consisting of the same variables in order to be consistent.

In [88]:
# Loading the dataset
bicycle_stations_df = pd.read_csv('data/csv/Divvy_Bicycle_Stations.csv')

# Cleaning dataset columns 
bicycle_stations_df.columns = bicycle_stations_df.columns.str.lower().str.replace(' ', '_', regex = False)
bicycle_stations_df['id'] = bicycle_stations_df['id'].astype(object)

bicycle_stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1419 entries, 0 to 1418
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1419 non-null   object
 1   station_name      1419 non-null   object
 2   total_docks       1419 non-null   int64
 3   docks_in_service  1419 non-null   int64
 4   status            1419 non-null   object
 5   latitude          1419 non-null   float64
 6   longitude         1419 non-null   float64
 7   location          1419 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 88.8+ KB

Checking if id values match between the bicycle stations dataset and the main dataset using **Troy St & Jackson Blvd** station as a point of reference

In [89]:
bicycle_stations_df.head().loc[:, ['station_name', 'id']]

                              station_name                   id
0                   Troy St & Jackson Blvd  1594046383808271024
1      Central Park Ave & Bloomingdale Ave                  641
2      Public Rack - Cornell Ave & 87th Pl  1683527931525155814
3                     Racine Ave & 35th St                  367
4  Public Rack - Francisco Ave & Touhy Ave  1673852313397164648

In [90]:
(df.dropna()[
    df.dropna()['start_station_name']
    .str.contains('Troy St & Jackson')]
.head()
.loc[:, ['start_station_name', 'start_station_id']])

             start_station_name start_station_id
944314   Troy St & Jackson Blvd              417
1317496  Troy St & Jackson Blvd              417
1332381  Troy St & Jackson Blvd              417
1935051  Troy St & Jackson Blvd              417
2018346  Troy St & Jackson Blvd              417

With the id to station name values not matching, the best route to take would be updating the station names using main dataset itself with the station name of the id's first occurence.

In [91]:
station_name_to_id_column_names_mapping = {
    'start_station_name': 'station_name', 'start_station_id': 'station_id',
    'end_station_name': 'station_name', 'end_station_id': 'station_id'}

station_name_to_id_df = (
    pd.concat([
        df.dropna().loc[:, ['start_station_name', 'start_station_id']].drop_duplicates().rename(columns = station_name_to_id_column_names_mapping),
        df.dropna().loc[:, ['end_station_name', 'end_station_id']].drop_duplicates().rename(columns = station_name_to_id_column_names_mapping)], 
        ignore_index = True)
    .drop_duplicates())

station_name_to_id_df.head()

                     station_name    station_id
0  California Ave & Milwaukee Ave         13084
1     Burnham Greenway & 105th St         20222
2           Wood St & Chicago Ave           637
3    California Ave & Division St         13256
4            Morgan Ave & 14th Pl  TA1306000002

Checking for observations that has the same station id as its station name

In [92]:
station_name_to_id_df.query('`station_name` == `station_id`')

,station_name,station_id
1175,Divvy Valet - Oakwood Beach,Divvy Valet - Oakwood Beach
1593,410,410
2662,DIVVY CASSETTE REPAIR MOBILE STATION,DIVVY CASSETTE REPAIR MOBILE STATION

Making a list of station id for these observations with the same name and id to later ignore for id to name mapping and update the observations manually

In [93]:
station_name_to_id_with_same_name_id_list = list(station_name_to_id_df.query('`station_name` == `station_id`')['station_id'].values)
station_name_to_id_with_same_name_id_list

['Divvy Valet - Oakwood Beach', '410', 'DIVVY CASSETTE REPAIR MOBILE STATION']

Makign a list of station id of station id with station name variations

In [94]:
station_id_with_name_variation_list = list(
    station_name_to_id_df['station_id'].value_counts()[
        station_name_to_id_df['station_id'].value_counts() > 1]
    .keys())

station_id_with_name_variation_list[:5]

['564', '553', '604', '756', '569']

Mapping station id to the station name of the first occurence of station id

In [95]:
station_id_station_name_map = {}
for station_id in station_id_with_name_variation_list:
    if station_id not in station_name_to_id_with_same_name_id_list:
        key = station_id
        value = station_name_to_id_df.query(f"`station_id` == '{key}'")['station_name'].iloc[0]
        station_id_station_name_map.update({key : value})

# Showing the first 5 items
dict(list(station_id_station_name_map.items())[:5])

{'564': 'Racine Ave & 65th St',
 '553': 'Elizabeth St & 47th St',
 '604': 'Sheridan Rd & Noyes St (NU)',
 '756': 'Albany Ave & 63rd St',
 '569': 'Public Rack - Menard Ave & Grand Ave'}

In [96]:
df['start_station_name'] = (df[['start_station_name', 'start_station_id']]
 .apply(
    lambda x: 
        station_id_station_name_map.get(x['start_station_id']) 
        if x['start_station_id'] in station_id_with_name_variation_list 
            and x['start_station_id'] not in station_name_to_id_with_same_name_id_list
            and not pd.isna(x['start_station_id']) 
        else x['start_station_name'], 
    axis = 1))

In [97]:
df['end_station_name'] = (df[['end_station_name', 'end_station_id']]
 .apply(
    lambda x: 
        station_id_station_name_map.get(x['end_station_id']) 
        if x['end_station_id'] in station_id_with_name_variation_list
            and x['end_station_id'] not in station_name_to_id_with_same_name_id_list
            and not pd.isna(x['end_station_id'])
        else x['end_station_name'], 
    axis = 1))

With the station name mapped for consistency, no station id must have greater than one observation when missing values and duplicates are dropped.

In [98]:
(df.dropna()
 .loc[:, ['start_station_name', 'start_station_id']]
 .drop_duplicates()['start_station_id']
 .value_counts())

410             2
13084           1
385             1
479             1
755             1
               ..
20104           1
432             1
383             1
TA1307000159    1
1260            1
Name: start_station_id, Length: 1419, dtype: int64

In [99]:
(df.dropna()
 .loc[:, ['end_station_name', 'end_station_id']]
 .drop_duplicates()['end_station_id']
 .value_counts())

410       2
13084     1
580       1
13050     1
SL-007    1
         ..
552       1
512       1
16912     1
397       1
934       1
Name: end_station_id, Length: 1423, dtype: int64

In [100]:
df.query("`start_station_id` == '410'").loc[:, ['start_station_name', 'start_station_id']].drop_duplicates()

                  start_station_name start_station_id
5010119  Campbell Ave & Augusta Blvd              410
5010275                          410              410

In [101]:
df['start_station_name'] = (df[['start_station_name', 'start_station_id']]
 .apply(
    lambda x: 
        'Campbell Ave & Augusta Blvd'
        if x['start_station_id'] == '410'
        else x['start_station_name'], 
    axis = 1))

In [102]:
df['end_station_name'] = (df[['end_station_name', 'end_station_id']]
 .apply(
    lambda x: 
        'Campbell Ave & Augusta Blvd'
        if x['end_station_id'] == '410'
        else x['end_station_name'], 
    axis = 1))

In [103]:
station_name_to_id_with_same_name_id_list.remove('410')
station_name_to_id_with_same_name_id_list

['Divvy Valet - Oakwood Beach', 'DIVVY CASSETTE REPAIR MOBILE STATION']

In the case of the station names with the same station ids, it would be hard to determine what their actual station id is so it would be better to just drop it.

In [104]:
df.query("`start_station_name` == 'Divvy Valet - Oakwood Beach'").loc[:, ['start_station_name', 'start_station_id']].drop_duplicates()

                 start_station_name             start_station_id
775655  Divvy Valet - Oakwood Beach  Divvy Valet - Oakwood Beach

In [105]:
df = df[~df['start_station_id'].isin(station_name_to_id_with_same_name_id_list)]
df = df[~df['end_station_id'].isin(station_name_to_id_with_same_name_id_list)]

## Addressing missing values

Filling missing station id my matching with coordinates of existing observation with complete data of station id, its latitude, and its longitude.

In [106]:
station_id_coordinates_column_names_mapping = {
    "start_station_id": "station_id", "start_lat": "latitude", "start_lng": "longitude",
    "end_station_id": "station_id", "end_lat": "latitude", "end_lng": "longitude"}

station_id_coordinates_df = (pd.concat([
    (df.dropna()
     .loc[:, ['start_station_id', 'start_lat', 'start_lng']]
     .drop_duplicates()
     .rename(columns = station_id_coordinates_column_names_mapping)),
    (df.dropna()
     .loc[:, ['end_station_id', 'end_lat', 'end_lng']]
     .drop_duplicates()
     .rename(columns = station_id_coordinates_column_names_mapping))],
    ignore_index = True)
.drop_duplicates())

station_id_coordinates_df.head()

  station_id   latitude  longitude
0      13084  41.922695 -87.697153
1      13084  41.922613 -87.697148
2      20222  41.704628 -87.528414
3        637  41.895611 -87.672098
4      13256  41.903029 -87.697474

Making a coordinates to station id map which station id can be retrieved by accessing the coordinates as key

In [107]:
coordinates_station_id_map = {}

station_id_coordinates_df.apply(
    lambda x:
        coordinates_station_id_map.update({ (x['latitude'], x['longitude']): x['station_id'] }),
    axis = 1, )

dict(list(coordinates_station_id_map.items())[:5])

{(41.922695, -87.697153): '13084',
 (41.9226131666667, -87.6971478333333): '13084',
 (41.7046285, -87.5284143333333): '20222',
 (41.8956108333333, -87.6720975): '637',
 (41.903029, -87.697474): '13256'}

In [108]:
def get_station_id_by_matching_coord(data):
    if not pd.isna(data.iloc[0]):
        return data.iloc[0]
    
    station_id = coordinates_station_id_map.get((data.iloc[1], data.iloc[2]))
    return station_id if station_id is not None else data.iloc[0]

Trying code before implementation

In [109]:
# Start station ids before implementation
df.head(15).loc[:, ['start_station_id', 'start_lat', 'start_lng']]

   start_station_id  start_lat  start_lng
0               NaN      41.89     -87.62
1               NaN      41.91     -87.62
2               NaN      41.91     -87.65
3               NaN      41.80     -87.66
4               NaN      41.91     -87.63
5               NaN      42.03     -87.71
6               NaN      41.91     -87.63
7               NaN      41.89     -87.62
8               NaN      41.89     -87.61
9               NaN      41.89     -87.61
10              NaN      41.89     -87.66
11              NaN      41.99     -87.66
12              NaN      41.94     -87.65
13              NaN      41.94     -87.64
14              NaN      41.94     -87.65

In [110]:
# How start station ids will look like after implementation
df.head(15).loc[:, ['start_station_id', 'start_lat', 'start_lng']].apply(get_station_id_by_matching_coord, axis = 1)

0       NaN
1       NaN
2       NaN
3      1042
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12    20256
13    20252
14    20256
dtype: object

Implementation of matching coordinates and getting the station id using the station id coordinates map

In [111]:
df['start_station_id'] = df.loc[:, ['start_station_id', 'start_lat', 'start_lng']].apply(get_station_id_by_matching_coord, axis = 1)
df['end_station_id'] = df.loc[:, ['end_station_id', 'end_lat', 'end_lng']].apply(get_station_id_by_matching_coord, axis = 1)

In [114]:
station_name_to_id_df = (
    pd.concat([
        df.dropna().loc[:, ['start_station_name', 'start_station_id']].drop_duplicates().rename(columns = station_name_to_id_column_names_mapping),
        df.dropna().loc[:, ['end_station_name', 'end_station_id']].drop_duplicates().rename(columns = station_name_to_id_column_names_mapping)], 
        ignore_index = True)
    .drop_duplicates())

station_name_to_id_df.head()

                     station_name    station_id
0  California Ave & Milwaukee Ave         13084
1     Burnham Greenway & 105th St         20222
2           Wood St & Chicago Ave           637
3    California Ave & Division St         13256
4            Morgan Ave & 14th Pl  TA1306000002

In [127]:
station_id_to_station_name_map = dict(zip(
    list(station_name_to_id_df['station_id'].values), 
    list(station_name_to_id_df['station_name'].values)))

dict(list(station_id_to_station_name_map.items())[:5])

{'13084': 'California Ave & Milwaukee Ave',
 '20222': 'Burnham Greenway & 105th St',
 '637': 'Wood St & Chicago Ave',
 '13256': 'California Ave & Division St',
 'TA1306000002': 'Morgan Ave & 14th Pl'}

In [133]:
df['start_station_name'] = df.loc[:, ['start_station_name', 'start_station_id']].apply(
    lambda x:
        station_id_to_station_name_map.get( x['start_station_id'] )
        if pd.isna(x['start_station_name']) and not pd.isna(x['start_station_id']) else
        x['start_station_name'],
    axis = 1, )

In [134]:
df['end_station_name'] = df.loc[:, ['end_station_name', 'end_station_id']].apply(
    lambda x:
        station_id_to_station_name_map.get( x['end_station_id'] )
        if pd.isna(x['end_station_name']) and not pd.isna(x['end_station_id']) else
        x['end_station_name'],
    axis = 1, )

In [ ]:
df.head()

## Exporting to csv

Dropping observations with NaN values in any variables

In [140]:
df = df.dropna()

In [146]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
12,0AFDFDED87B18711,electric_bike,2022-06-30 08:02:37,2022-06-30 08:07:30,N Sheffield Ave & W Wellington Ave,20256,N Sheffield Ave & W Wellington Ave,20256,41.94,-87.65,41.94,-87.65,casual
14,73824977D6BA1702,electric_bike,2022-06-30 08:12:58,2022-06-30 08:17:04,N Sheffield Ave & W Wellington Ave,20256,N Sheffield Ave & W Wellington Ave,20256,41.94,-87.65,41.94,-87.65,casual
16,CF3DD3F4E16263F7,electric_bike,2022-06-30 18:42:45,2022-06-30 19:04:26,Public Rack - Kimball Ave & Lawrence Ave,1134,Public Rack - Kimball Ave & Lawrence Ave,1134,41.97,-87.71,41.97,-87.71,casual
23,54D832624A983D4C,electric_bike,2022-06-30 15:07:51,2022-06-30 15:12:28,Public Rack - Jensen Park,932,Troy St & Grace St,430,41.96,-87.72,41.95,-87.71,casual
24,F6D59CBDC2418088,electric_bike,2022-06-30 13:42:32,2022-06-30 14:12:23,Troy St & Grace St,430,Public Rack - Jensen Park,932,41.95,-87.71,41.96,-87.72,casual

In [145]:
df.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4943103 entries, 12 to 5829028
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             4943103 non-null  object
 1   rideable_type       4943103 non-null  object
 2   started_at          4943103 non-null  object
 3   ended_at            4943103 non-null  object
 4   start_station_name  4943103 non-null  object
 5   start_station_id    4943103 non-null  object
 6   end_station_name    4943103 non-null  object
 7   end_station_id      4943103 non-null  object
 8   start_lat           4943103 non-null  float64
 9   start_lng           4943103 non-null  float64
 10  end_lat             4943103 non-null  float64
 11  end_lng             4943103 non-null  float64
 12  member_casual       4943103 non-null  object
dtypes: float64(4), object(9)
memory usage: 528.0+ MB

In [141]:
df.to_csv('data/csv/divvy-tripdata-202206-202305-merged-cleaned.csv', index = False)